body {
    background-color: rgb(211, 239, 255);
}
#nav_title {
    text-align: left;
}

#title_name {
    color: rgb(187, 212, 216);
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    line-height: 38px;
}

h2 {
    font-size: 20px;
    font-family: 'Manuale', serif;
}

p, li {
    font-family: 'Manuale', serif;
}

#profile_pic {
    height: 130px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
}

.page_body {
    margin: 20px;
}