<section>
    <div class="pageBody">
        <p>
            <strong>My values</strong>
        </p>
        <p>
            <ul>
                <li>Continuous learning - always a student</li>
                <li>Group achievement - harmonizing diverse input to produce the best solutions</li>
                <li>Social purpose - using our skills to better the world</li>
            </ul>
        </p>
        <p>
            <strong>My Story</strong>
        </p>
        <p>
            At age 13, after struggling to teach myself C++, I found success building a videogame-centered website. After studying music
            in college, I worked as musician and teacher, and did part-time public/human services work. In 2017 I decided
            to pivot to software development as a career, and began studies at Prime Digital Academy. Since then I have focused
            on building full-stack web applications, and enjoy discussing the many philosophical and logical ways music relates
            to technology.
        </p>
        <p>
            As a professional musician, one has many challenges, and is required to spend many hours practicing skills with a self-critical
            eye, supportively communicating ideas with other musicians, analyzing every technical, artistic, and emotional
            element of a musical piece, and achieving the best public performance possible.
        </p>
        <p>
            <strong>Skills I bring from my previous career</strong>
        </p>
        <p>
            <ul>
                <li>
                    Intense personal discipline
                </li>
                <li>
                    Collaborative communication on teams
                </li>
                <li>
                    Multi-faceted problem analysis
                </li>
                <li>
                    Achieving the best results within time constraints
                </li>
                <li>
                    Success under pressure and public criticism
                </li>
            </ul>
        </p>
    </div>
</section>