<section>
    <div class="pageBody">
        <strong>11-29-2017</strong>
        </p>
        <p>
            What I learned today:
        </p>
        <p>
            C# is syntactically very similar to Java; it's basically Microsoft's answer for it. Class structure is used a lot, and uses
            this kind of organization:
        </p>
        <p>
            Assembly --> namespace(s) --> class(es.
        </p>
        <p>
            Methods are called just like in JavaScript, each word is capitalized instead of camel case.
        </p>
    </div>
</section>