<section>
    <div class="pageBody">
        <p class="p1">
            <span style="text-decoration: underline;">
                <strong>
                    <span style="font-size: 12pt;">12-11-2017</span>
                </strong>
            </span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">
                <strong>Word of the day</strong>
            </span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">String interpolation:</span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">Process of evaluating a string literal containing placeholders (variables) replaced with values.</span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">
                <strong>C# example</strong>
            </span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">string breakfastFood = "waffles";</span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">Console.WriteLine($"Pancakes are almost as tasty as {breakfastFood}.");</span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">$ is used before a string, as a "heads up" to the compiler that the following string contains some logic! Our
                variable is then inserted using the { }. When I was learning JavaScript, we pretty much just concatenated
                our strings using , or +. The one instance where I used string interpolation I can think of is with AngularJS
                expressions in an html file:</span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">&lt;p&gt;Here's a {{ vm.word }} example of string interpolation.&lt;/p&gt;</span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">I also learned a few methods used in string modification:</span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">
                <strong>New methods learned today:</strong>
            </span>
        </p>
        <p class="p1">
            <span style="font-size: 12pt;">string modifications:</span>
        </p>
        <p class="p1" style="padding-left: 30px;">
            <span style="font-size: 12pt;">.Trim() // removes spaces around a string</span>
        </p>
        <p class="p1" style="padding-left: 30px;">
            <span style="font-size: 12pt;">.TrimStart()</span>
        </p>
        <p class="p1" style="padding-left: 30px;">
            <span style="font-size: 12pt;">.TrimEnd()</span>
        </p>
        <p class="p1" style="padding-left: 30px;">
            <span style="font-size: 12pt;">.Replace("original string", "replacement string")</span>
        </p>
        <p class="p1" style="padding-left: 30px;">
            <span style="font-size: 12pt;">// these methods return boolean values</span>
        </p>
        <p class="p1" style="padding-left: 30px;">
            <span style="font-size: 12pt;">.StartsWith()</span>
        </p>
        <p class="p1" style="padding-left: 30px;">
            <span style="font-size: 12pt;">.EndsWith()</span>
        </p>
        <p class="p1" style="padding-left: 30px;">
            <span style="font-size: 12pt;">.Contains()</span>
        </p>
        <br>
        <strong>11-29-2017</strong>
        </p>
        <p>
            What I learned today:
        </p>
        <p>
            C# is syntactically very similar to Java; it's basically Microsoft's answer for it. Class structure is used a lot, and uses
            this kind of organization:
        </p>
        <p>
            Assembly --> namespace(s) --> class(es.
        </p>
        <p>
            Methods are called just like in JavaScript, each word is capitalized instead of camel case.
        </p>
    </div>
</section>