<section>
    <div class="pageBody" layout="row" layout-align="space-between start">
        <div flex=50>
            <p id="bioText">Greetings!  I'm a full-stack software developer based in Plymouth, MN.</p>
            <p>Here you will find info about me, and recent samples of my work. Please feel free to connect with my on LinkedIn or view my Github below.</p>
            <div id="socialIcons" layout="row" layout-align="space-around start">
                <div>
                    <a href="{{ IC.user.data.html_url }}" target="_blank">
                        <img ng-src="images/github.png" height="30px" />
                    </a>
                </div>
                <div>
                    <a ng-href="https://www.linkedin.com/in/mike-pettman/" target="_blank">
                        <img ng-src="images/linkedin.png" height="30px">
                    </a>
                </div>
            </div>
        </div>
        <div flex=50>
            <img id="profile_pic" ng-src='{{ IC.user.data.avatar_url }}'>
        </div>
    </div>
</section>
    <!-- All profile data: 
    <ol>
        <li ng-repeat='(key, value) in IC.user.data'>
            {{ key }} : {{ value }}
        </li>
    </ol> -->