<section class="container">
    <div class="page_body">
        <h2>Profile</h2>
        <div>
            <img id="profile_pic" ng-src='{{ IC.user.data.avatar_url }}'>
            <span></span>
            <p> {{ IC.user.data.email }} </p>
            <p> {{ IC.user.data.bio }} </p>
            <ul>
                <li>
                    <a ng-href="https://www.linkedin.com/in/mike-pettman/" target="_blank">
                        <img ng-src="images/linkedin.png" height="21px">
                    </a>
                </li>
                <li>
                    <a ng-href="{{ IC.user.data.html_url }}" target="_blank">Github Page: {{ IC.user.data.login }} </a>
                </li>
                <li>
                    <a href="{{ IC.user.data.html_url }}" target="_blank">
                        <img ng-src="images/github.png" height="21px" />
                    </a>

                </li>
                <li> Company: {{ IC.user.data.company }} </li>
                <li> Public Repos: {{ IC.user.data.public_repos }} </li>
            </ul>
            <hr>
        </div>
    </div>

    <!-- All profile data: 
    <ol>
        <li ng-repeat='(key, value) in IC.user.data'>
            {{ key }} : {{ value }}
        </li>
    </ol> -->

</section>