<section>
    <div class="container slider">
        <img ng-repeat="eachSlide in PC.slides" class="slide" width="500" ng-src="{{ eachSlide.image }}" ng-hide="!isCurrentSlideIndex($index)">
    </div>
    <div layout="column" layout-align="start start">
        <div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
            <div flex=70>
                <div class="appPic">
                    <a href="https://solo-project-mp.herokuapp.com">
                        <img ng-src="images/demos/jump_demo_ipad.gif" height="600px" />
                    </a>
                </div>
                <!-- <img ng-src="{{ PC.jumpPicsCurrent.image }}" height="350px"/>
            <p>test: {{ PC.obj.i }}</p> -->
                <!-- <div class="appPic">
                    <img src="images/jump/create_event.png" width="500px" />
                </div>
                <div class="appPic">
                    <img src="images/jump/filter_events.png" width="500px" />
                </div>
                <div class="appPic">
                    <img src="images/jump/find_events.png" width="500px" />
                </div> -->
            </div>
            <div flex=30>
                <p>
                    <strong>
                        JUMP - Join Up Meet People
                    </strong>
                </p>
                <p>
                    <strong>Full-stack JavaScript-based app designed to facilitate event planning and sharing by caregivers for people
                        with special needs. </strong>
                </p>
                <p>
                    <a href="https://solo-project-mp.herokuapp.com">Demo version of app</a>
                </p>
                <p>
                    <a href="https://github.com/mikep79/solo-project">Github repo</a>
                </p>
                <p>The app allows a user to register and sign in, create events tagged with accessibility and content needs,
                    and share with other users of the app. Users can register for an event and manage attendance in the My
                    Events page. Users who do not create an account will still be able to view the events, and will be able
                    to filter available events by content type and/or accessibility needs. As an example, a user with deafness
                    may click on tags for deafness and movies to find events such as movie showings at theatres with closed
                    captioning or an interpreter.
                </p>
                <p>
                    This app was built with the MEAN stack: Mongo Database, Express, Angular.js, Node.js.
                </p>
            </div>
        </div>
        <div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
            <div flex=70>
                <div class="appPic">
                    <a href="http://grownorthdemo.herokuapp.com/">
                        <img ng-src="images/demos/grow_north_demo_mac.gif" height="600px" />
                    </a>
                </div>
            </div>
            <div flex=30>
                <p>
                    <strong>
                        Grow North app
                    </strong>
                </p>
                <p>
                    <strong>Full stack web application built for Grow North MN. This app facilitates connection building between
                        food and agriculture businesses. </strong>
                </p>
                <p>
                    <a href="http://grownorthdemo.herokuapp.com/">Demo version of app</a>
                </p>
                <p>
                    <a href="https://github.com/mikep79/Grow-North-MN">Github repo</a>
                </p>
                <p>Admin and guest are the users. Guests can access the survey form to enter their information about their business,
                    which adds this data to a database that can be acccessed by the admin side. The admin can create an account,
                    change password, and log in. Once logged in, admin can view the directory of all persons in the database,
                    read their information, update any line, and delete the person's profile. Admin can also create connections
                    between profiles and add comments about profile or connection.
                </p>
                <p>
                    This app was built by team GeckMN using AngularJS, Node.js, Express, PostgresSQL, and AngularJS Material.
                </p>
            </div>
        </div>
        <div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
            <div flex=70>
                <div class="appPic">
                    <img ng-src="images/demos/marketplace_pic_macbook.png" height="600px" />
                </div>
            </div>
            <div flex=30>
                <p>
                    <strong>Market Mania</strong>
                </p>
                <p>
                    <a href="https://github.com/mikep79/marketplace-public">Github repo</a>
                </p>
                <p>
                    Market Mania is a game app that allows a player to register and login, and purchase different items from a pantry. The player starts with $100, and prices for market items randomly change frequently. The object is to buy items when prices are low, and sell when prices are high to have the highest amount of money. The game tracks the highest "score" (amount of money) for users and displays the current best player.
                </p>
                <p>
                    This app was built with JavaScript, AngularJS, Node.js, Express, and MongoDB, and custom CSS styling.
                </p>
            </div>
        </div>
    </div>
</section>