<row>
    <div layout="row" layout-align="space-around center" style="margin-top: 30px">
        <div class="projectThumbDiv">
            <a href="#/projects/jump">
                <div layout="column" layout-align="center center">
                    <div class="projectThumbPicDiv" layout="row" layout-align="center center">
                        <img  ng-src="images/demos/jump_demo_ipad.gif" width="300px" />
                    </div>
                    <div>JUMP</div>
                </div>
            </a>
        </div>
        <div class="projectThumbDiv">
            <a href="#/projects/grow-north">
                <div layout="column" layout-align="center center">
                    <div class="projectThumbPicDiv" layout="row" layout-align="center center">
                        <img  ng-src="images/demos/grow_north_demo_mac.gif" width="300px" />
                    </div>
                    <div>Grow North app</div>
                </div>
            </a>
        </div>
        <div class="projectThumbDiv">
            <a href="#/projects/market-mania">
                <div layout="column" layout-align="center center">
                    <div class="projectThumbPicDiv" layout="row" layout-align="center center">
                        <img  ng-src="images/demos/marketplace_pic_macbook.png" width="300px" />
                    </div>
                    <div>Market Mania</div>
                </div>
            </a>
        </div>
    </div>
</row>
<row>
    <div layout="row" layout-align="space-around center">
        <div class="projectThumbDiv">
            <a href="#/projects/photo-gallery">
                <div layout="column" layout-align="center center">
                    <div class="projectThumbPicDiv" layout="row" layout-align="center center">
                        <img  ng-src="images/demos/ng-photo-gallery-demo.gif" width="250px" />
                    </div>
                    <div>Photo Gallery</div>
                </div>
            </a>
        </div>
        <div class="projectThumbDiv">
            <a href="#/projects/to-do">
                <div layout="column" layout-align="center center">
                    <div class="projectThumbPicDiv" layout="row" layout-align="center center">
                        <img  ng-src="images/demos/to-do-app-demo.gif" width="250px" />
                    </div>
                    <div>To Do app</div>
                </div>
            </a>
        </div>
        <div class="projectThumbDiv">
            <a href="#/projects/people-list-creator">
                <div layout="column" layout-align="center center">
                    <div class="projectThumbPicDiv" layout="row" layout-align="center center">
                        <img  ng-src="images/demos/people-list-creator-demo.gif" width="250px" />
                    </div>
                    <div>People List Creator</div>
                </div>
            </a>
        </div>
    </div>
</row>