<!-- <section class="container">
    <div class="page_body">
        <h2>Github Repositories</h2>
        <div>
            <ol>
                <li ng-repeat="eachRepo in RC.repos.data">
                    <ul>
                        <li>
                            {{ eachRepo.name}}
                        </li>
                        <li>
                            {{ eachRepo.description}}
                        </li>
                        <li>
                            <a href="{{ eachRepo.html_url }}" target="_blank" >Github Repository View</a>
                        </li>
                        
                        <li>
                            Created: {{ eachRepo.created_at | date:'shortDate' }}
                        </li>
                        <li>
                            Last Push: {{ eachRepo.pushed_at | date:'shortDate' }}
                        </li>
                    </ul>
                    <hr>
                </li>
            </ol>
        </div>
    </div>
</section> -->