<section class="container">
    <div class="page_body">
        <h2>Github Repositories</h2>
        <div>
            <ol>
                <li ng-repeat="eachRepo in RC.repos.data">
                    <ul>
                        <li>
                            {{ eachRepo.name}}
                        </li>
                        <li>
                            {{ eachRepo.description}}
                        </li>
                        <li>
                            <a href="{{ eachRepo.html_url }}">Github Repository View</a>
                        </li>
                        <li>
                            <a href="{{ eachRepo.collaborators_url}}">Collaborators</a>
                        </li>
                        <li>
                            <a href="{{ eachRepo.teams_url }}">Teams</a>
                        </li>
                        <li>
                            <a href="{{ eachRepo.languages_url}}">Languages used</a>
                        </li>
                        <li>
                            Created: {{ eachRepo.created_at | date:'shortDate' }}
                        </li>
                        <li>
                            Last Push: {{ eachRepo.pushed_at | date:'shortDate' }}
                        </li>
                        <li>
                            Language: {{ eachRepo.language}}
                        </li>
                    </ul>
                    <hr>
                </li>
            </ol>
        </div>
    </div>

    <!-- Show all repos data: -->
    <!-- <div>
        <ol>
            <li ng-repeat='eachRepo in RC.repos.data'>
                <ul>
                    <li ng-repeat='(key, value) in eachRepo'>
                        {{ key }} : {{ value }}
                    </li>
                </ul>
            </li>
        </ol>
    </div> -->
</section>