<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
        <div flex=70>
            <div class="appPic">
                <a href="http://grownorthdemo.herokuapp.com/">
                    <img ng-src="images/demos/grow_north_demo_mac.gif" height="600px" />
                </a>
            </div>
        </div>
        <div flex=30>
            <p>
                <strong>
                    Grow North app
                </strong>
            </p>
            <p>
                <strong>Full stack web application built for Grow North MN. This app facilitates connection building between
                    food and agriculture businesses. </strong>
            </p>
            <p>
                <a href="http://grownorthdemo.herokuapp.com/">Demo version of app</a>
            </p>
            <p>
                <a href="https://github.com/mikep79/Grow-North-MN">Github repo</a>
            </p>
            <p>Admin and guest are the users. Guests can access the survey form to enter their information about their business,
                which adds this data to a database that can be acccessed by the admin side. The admin can create an account,
                change password, and log in. Once logged in, admin can view the directory of all persons in the database,
                read their information, update any line, and delete the person's profile. Admin can also create connections
                between profiles and add comments about profile or connection.
            </p>
            <p>
                This app was built by team GeckMN using AngularJS, Node.js, Express, PostgresSQL, and AngularJS Material.
            </p>
        </div>
    </div>