<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <div class="appPic">
            <a href="http://grownorthdemo.herokuapp.com/">
                <img ng-src="images/demos/grow_north_demo_mac.gif" height="500px" />
            </a>
        </div>
    </div>
    <div flex=30>
            <h2 >Grow North app</h2>
        <p>
            <a href="http://grownorthdemo.herokuapp.com/">Try out this app</a>
        </p>
        <p>
            <a href="https://github.com/mikep79/Grow-North-MN">See the code on Github</a>
        </p>
        <p>
            <strong>
                Why we built it:
            </strong>
        </p>
        <ul>
            <li>App gives client Grow North MN a more efficient way to manage professional connections made in the food startup
                community.
            </li>
        </ul>
        <p>
            <strong>What it does:</strong>
        </p>
        <ul>
            <li>Mobile-responsive survey invites business owner's to add their information to Grow North's network.</li>
            <li>Search function allows client to easily find businesses and people in directory.</li>
            <li>Connections can be made between each business, and comments added on meetings or developments.</li>
            <li>All data can be conveniently edited.</li>
        </ul>
        <p>
            This app was built by team GeckMN using AngularJS, Node.js, Express, PostgresSQL, and AngularJS Material.
        </p>
    </div>
</div>