<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <div class="appPic">
            <a href="https://solo-project-mp.herokuapp.com">
                <img ng-src="images/demos/jump_demo_ipad.gif" width="500px" />
            </a>
        </div>
    </div>
    <div flex=30>
            <h2 >JUMP - Join Up Meet People</h2>
        <p>
            <a href="https://solo-project-mp.herokuapp.com">Try out this app</a>
        </p>
        <p>
            <a href="https://github.com/mikep79/solo-project">See the code on Github</a>
        </p>
        <p>
            <strong>
                Why I built it:
            </strong>
        </p>
        <ul>
            <li>JUMP encourages caregivers to share community resources or scheduled events sensitive to the needs of people
                with disabilities.</li>
        </ul>
        <p>
            <strong>
                What it does:
            </strong>
        </p>
        <ul>
            <li>
                Users create events tagged with accessibility and content needs, and share with other users.
            </li>
            <li>
                Calendar of events can be filtered by content type or accessibility needs. For example, a user with hearing impairment may
                click on tags for deafness and movies to find events such as movie showings at theatres with closed captioning.
            </li>
            <li>
                Users can register for an event and manage all their events.
            </li>
            <li>
                Optimized for screen reader accessibility.

            </li>
        </ul>
        <p>
            This app was built with the MEAN stack: Mongo Database, Express, Angular.js, Node.js.
        </p>
    </div>
</div>