<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <div class="appPic">
            <img ng-src="images/demos/marketplace_pic_macbook.png" height="600px" />
        </div>
    </div>
    <div flex=30>
        <h2>Market Mania</h2>
        <p>
            <a href="https://github.com/mikep79/marketplace-public">See the code on Github</a>
        </p>
        <p>
            <strong>Why I built it:</strong>
        </p>
        <ul>
            <li>Players can have fun managing money and posting high scores.</li>
        </ul>
        <p>
            <strong>What it does:</strong>
        </p>
        <ul>
            <li>Players buy and sell food items with $100 of starting money.</li>
            <li>Prices change frequently. Buy low and sell high to gain the most amount of money within 2 minutes.</li>
            <li>Players can register a username and password to post high scores. Game displays current high scorer.</li>
        </ul>
        <p>
            This app was built with JavaScript, AngularJS, Node.js, Express, and MongoDB, and custom CSS styling.
        </p>
    </div>
</div>