<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <div class="appPic">
            <img ng-src="images/demos/marketplace_pic_macbook.png" height="600px" />
        </div>
    </div>
    <div flex=30>
        <p>
            <strong>Market Mania</strong>
        </p>
        <p>
            <a href="https://github.com/mikep79/marketplace-public">Github repo</a>
        </p>
        <p>
            Market Mania is a game app that allows a player to register and login, and purchase different items from a pantry. The player
            starts with $100, and prices for market items randomly change frequently. The object is to buy items when prices
            are low, and sell when prices are high to have the highest amount of money. The game tracks the highest "score"
            (amount of money) for users and displays the current best player.
        </p>
        <p>
            This app was built with JavaScript, AngularJS, Node.js, Express, and MongoDB, and custom CSS styling.
        </p>
    </div>
</div>