<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <!-- add left margin -->
        <div class="appPic" style="margin-left: 20px;">
            <img ng-src="images/demos/people-list-creator-demo.gif" height="360px" />
        </div>
    </div>
    <div flex=30>
        <p>
            <strong>People List Creator</strong>
        </p>
        <p>
            <a href="https://github.com/mikep79/people-list-creator">Github repo</a>
        </p>
        <p>
            An early jQuery project of mine, this app allows the user to add a person and a corresponding trait to a list. The user can
            cycle through the people list with a carousel, and delete a person as well.
        </p>
        <p>
            This app was built with JavaScript, jQuery, and Node.js.
        </p>
    </div>
</div>