<div>
    <h2 class="appTitle">People List Creator</h2>
</div>
<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <div class="appPic">
            <img ng-src="images/demos/people-list-creator-demo.gif" height="360px" />
        </div>
    </div>
    <div flex=30>
        <p>
            <a href="https://github.com/mikep79/people-list-creator">See the code on Github</a>
        </p>
        <p>
            <strong>Why I built it:</strong>
        </p>
        <ul>
            <li>My first useful jQuery app, this allows you to keep track of your acquaintances and their interesting traits!</li>
        </ul>
        <p>
            <strong>What it does:</strong>
        </p>
        <ul>
            <li>User adds a person's name and an interesting fact about them to a directory.</li>
            <li>User can cycle through the people list with a carousel, and remove a person from the directory.</li>
        </ul>
        <p>
            This app was built with JavaScript, jQuery, and Node.js.
        </p>
    </div>
</div>