<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <!-- add left margin -->
        <div class="appPic" style="margin-left: 20px;">
            <img ng-src="images/demos/ng-photo-gallery-demo.gif" height="430px" />
        </div>
    </div>
    <div flex=30>
        <p>
            <strong>Photo Gallery</strong>
        </p>
        <p>
            <a href="https://ng-photo-gallery.herokuapp.com">Demo version of app</a>
        </p>
        <p>
            <a href="https://github.com/mikep79/ng_photo_gallery">Github repo</a>
        </p>
        <p>
            This app contains a gallery of photos that users can view. Users can click on a photo to view a description, "like" a photo,
            post a comment, or view all comments.
        </p>
        <p>
            This app was built with JavaScript, AngularJS, Node.js and custom CSS styling.
        </p>
    </div>
</div>