<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <div class="appPic">
            <img ng-src="images/demos/ng-photo-gallery-demo.gif" height="430px" />
        </div>
    </div>
    <div flex=30>
        <h2>Photo Gallery</h2>
        <p>
            <a href="https://ng-photo-gallery.herokuapp.com">Try out this app</a>
        </p>
        <p>
            <a href="https://github.com/mikep79/ng_photo_gallery">See the code on Github</a>
        </p>
        <p>
            <strong>Why I built it:</strong>
        </p>
        <ul>
            <li>A fun way to share personal photos, this project was built to gain skill with AngularJS and deploying an app
                on Heroku.</li>
        </ul>
        <p>
            <strong>What it does:</strong>
        </p>
        <ul>
            <li>This app contains a gallery of photos that users can view, "like", or comment on.</li>
            <li>Users can click on a photo to view a description, and view all comments.</li>
        </ul>
        <p>
            This app was built with JavaScript, AngularJS, Node.js and custom CSS styling.
        </p>
    </div>
</div>