<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <!-- add left margin -->
        <div class="appPic" style="margin-left: 20px;">
            <img ng-src="images/demos/to-do-app-demo.gif" height="360px" />
        </div>
    </div>
    <div flex=30>
        <p>
            <strong>To Do app</strong>
        </p>
        <p>
            <a href="https://github.com/mikep79/to-do-app">Github repo</a>
        </p>
        <p>
            This app allows the user to create tasks they need to get done, which they can then "complete" or delete. The purpose of
            this app was to provide a basic template that includes the basic CRUD (Create-Read-Update-Delete) functions,
            both for jQuery and AngularJS.
        </p>
        <p>
            This app was built with JavaScript, jQuery, AngularJS, PostgreSQL, Node.js, and Express.
        </p>
    </div>
</div>