<div>
    <h2 class="appTitle">To Do app</h2>
</div>
<div class="pageBody" layout="row" layout-xs="column" layout-align="space-between start">
    <div flex=70>
        <div class="appPic">
            <img ng-src="images/demos/to-do-app-demo.gif" height="360px" />
        </div>
    </div>
    <div flex=30>
        <p>
            <a href="https://github.com/mikep79/to-do-app">See the code on Github</a>
        </p>
        <p>
            <strong>Why I built it:</strong>
        </p>
        <ul>
            <li>Helps you to keep track of things you need to get done!</li>
            <li>I built this app using AngularJS and jQuery to have basic, full-stack, CRUD template to use for both frameworks.</li>
        </ul>
        <p>
            <strong>What it does:</strong>
        </p>
        <ul>
            <li>User creates tasks, and marks them as complete when finished. </li>
            <li>Tasks can also be deleted.</li>
        </ul>
        <p>
            This app was built with JavaScript, jQuery, AngularJS, PostgreSQL, Node.js, and Express.
        </p>
    </div>
</div>